mixin inputLabel(inputId, text, required=false, error=false, icon=null, srOnly=false)
  label(for=inputId role=error ? "alert" : "" class=srOnly ? "sr-only" : "")
    if required
      span *&nbsp;
    if icon
      +icon(icon)
    span=text


mixin input(id="", inputType="text", labelText=null, optionalPlaceholder=null, optionalMaxlength=null, icon=null, isRequired=false, labelSrOnly=false, defaultHide=false)
  if !labelText
    - labelText = id[0].toUpperCase() + id.substring(1);
  - let errorHappened = false;
  - let role = "";
  - let value = "";

  if errors
    if errors[id]
      - errorHappened = true;
    
  if inputType == "datetime-local"
    // https://stackoverflow.com/a/28149561
    - const timezoneOffset = (new Date()).getTimezoneOffset() * 60000;
    - const date = (new Date(Date.now() - timezoneOffset))
    - date.setDate(date.getDate() + 1)
    - date.setSeconds(null);
    - date.setMilliseconds(null);
    - value = date.toISOString().slice(0, -1);

  +inputLabel(id, labelText, isRequired, errorHappened, icon, labelSrOnly)
  // Todo input file accept
  input(
    type=inputType
    name=id id=id
    maxlength=optionalMaxlength
    required=isRequired
    placeholder=optionalPlaceholder
    value=value
    class=defaultHide ? "defaultHide" : "",
    accept=(inputType == "file") ? "image/*" : undefined,
    aria-describedby=errorHappened ? `${id}-error` : null
    aria-invalid=errorHappened)
  if errorHappened
    p.error(id=`${id}-error` role="alert")=errors[id]

mixin fileInput(idUrlField, idFileField)
    - const id = idUrlField + "Span";
    p(for=id) If you have a flyer / thumbnail, you can add it using...
    span.fileInput(id=id)
        +input(
            "thumbnailFile", 
            "file",
            "Thumbnail (upload):",
            null,
            null,
            null,
            false,
            true)
        span &nbsp;or&nbsp;&nbsp;
        //-
            id
            inputType
            Label text
            Placeholder
            maxlength
            icon
            isRequired
            labelSrOnly
        +input(
            "thumbnailUrl",
            "url",
            "Thumbnail (url):",
            "https://example.com/image.png",
            null,
            null,
            false,
            true)
    +input(
        "thumbnailImageDescr",
        "text",
        "Thumbnail alt text:",
        "A black-red flyer for a Newgrounds Death Rugby concert. It reads 24/11, 19:30",
        300,
        null,
        false
      )


form.pin.view(action="/pin" method="POST" enctype="multipart/form-data")
    +input(
      "title",
      "text",
      "Title:",
      "The name of the event",
      20,
      null,
      true)
    +input(
      "description",
      "text",
      "Description:",
      "Description...",
      200, 
      "egg",
      false)
    //-
        id
        inputType
        Label text
        Placeholder
        maxlength
        icon
        isRequired
    +input(
      "location",  
      "text", 
      "Location:",
      "Where your event takes place...",
      50,
      "suitcase",
      true)
    +input(
      "datetime",
      "datetime-local",
      "Time/day:",
      "",
      false,
      "time",
      true)
    +input(
      "postedBy",
      "text",
      "Posted by:",
      "Your name",
      20,
      "celeste",
      true)
    +fileInput()
    input(type="submit" value="Pin!")