mixin input(id="", inputType="text", placeholder, maxlength=null, icon=null, required=false, )
  - const title = id[0].toUpperCase() + id.substring(1)
  - let error = false;
  - let role = "";
  - let value = "";

  if errors
    if errors[id]
      - error = true;
    
  if inputType == "datetime-local"
    // https://stackoverflow.com/a/28149561
    - const timezoneOffset = (new Date()).getTimezoneOffset() * 60000;
    - const date = (new Date(Date.now() - timezoneOffset))
    - date.setDate(date.getDate() + 1)
    - date.setSeconds(null);
    - date.setMilliseconds(null);
    - value = date.toISOString().slice(0, -1);
  
  
  label(for=id role=(error ? "alert": "") class=(error ? "error" : ""))
    if required
      span *&nbsp;
    if icon
      +icon(icon)
    span=title
  input(
    type=inputType
    name=id id=id
    maxlength=maxlength
    required=required
    placeholder=placeholder
    value=value
    aria-describedby=error ? `${id}-error` : null
    aria-invalid=error)
  if error
    p.error(id=`${id}-error`)=errors[id]

mixin fileInput(idUrlField, idFileField)
    - const id = idUrlField + "Span";
    p(for=id) For an (optional) image, you can use...
    span.fileInput(id=id)
        +input(
            "thumbnailUrl",
            "url",
            "https://www.example.com/image.png",
            null,
            false)
        //span ... or ...
        +input(
            "thumbnailFile", 
            "file", 
            "", 
            null,
            false)



form.pin.view(action="/new-event" method="POST" enctype="multipart/form-data")
    //+input(id="title", inputType="text", placeholder="The name of the event", maxlength=20, icon=null, required=true)
    +input(
      "title",
      "text",
      "The name of the event",
      20,
      null,
      true)
    +input(
      "description",
      "text",
      "Description...",
      200, 
      "egg",
      false)
    +input(
      "location",
      "text",
      "Where your event takes place...",
      50,
      "suitcase",
      true)
    +input(
      "datetime",
      "datetime-local",
      "",
      "",
      "time",
      true)
    +input(
      "postedBy",
      "text",
      "Your name",
      20,
      "celeste",
      true)
    +fileInput()
    input(type="submit" value="Pin!")