mixin input(conf)
  - let errorHappened = false;
  - let role = "";

  if errors
    if errors[conf.id+"Err"]
      - errorHappened = true;
    
  label(for=conf.id role=errorHappened ? "alert" : "" class=conf.labelSrOnly ? "sr-only" : "")
    if conf.required
      span *&nbsp;
    if conf.icon
      +icon(conf.icon)
    span=conf.labelText
  - console.log(conf)
  input(
    accept=(inputType == "file") ? "image/*" : undefined,
    aria-describedby=errorHappened ? `${conf.id}-error` : null
    aria-invalid=errorHappened
    value=conf.value)&attributes(conf)
  if errorHappened
    p.error(id=`${conf.id}-error` role="alert")=errors[conf.id+"Err"]

mixin fileInput(conf)
  - const id = conf.id + "Span";
  p(for=id) If you have a flyer / thumbnail, you can add it using...
  span.fileInput(id=id)
    +input(conf.file)
    span &nbsp;or&nbsp;&nbsp;
    +input(conf.url)

  +input(conf.imageDescription)


mixin form(fields, url="/pin", method="POST")
  form.pin.view(action=url method=method enctype="multipart/form-data")
    each field in fields
      if !field.inputField
        +input(field)
      else
        +fileInput(field)
    input(type="submit" value="Pin!")