extends layout

mixin pinPreview(pin)
  a(href="#" + pin.title)
    if pin.thumbnail
      img(src=pin.thumbnail)
    h3=pin.title
    p=pin.poster

mixin pinView(pin)
  a(id=pin.title)
  if pin.thumbnail
    img(src=pin.thumbnail)
  h3=pin.title
  p=pin.description
  p=pin.location 
  input(disabled=true type="datetime-local" value=pin.datetime)
  p=pin.poster


mixin pins(pins, previews=true)
  ul.pins
    each pin in pins
      li.pin
        if previews
          +pinPreview(pin)
        else
          +pinView(pin)
    if block
      block
        
  

mixin input(id, inputType="text")
  - const title = id[0].toUpperCase() + id.substring(1)
  label(for=id)=title
  input(type=inputType name=id id=id)
  br

block content
  header
    h1 Community Pinboard!

  main
    h2 Pinboard
    // Replace div with better elementç
    div#board
      +pins(pinArray, true)
    

  // Switch aside to main?
  aside
    h2 Pin view
    +pins(pinArray, false)

      hr

      h3 New pin
      form(action="/new-event" method="POST")
        +input("thumbnail", "url")
        +input("title")
        +input("description")
        +input("location")
        +input("datetime", "datetime-local")
        +input("poster")
        input(type="submit" value="Pin!")
        




      

