extends layout

mixin icon(id)
  // See https://a11y-101.com/development/icons-and-links
  i(class=`icon ${id}` aria-hidden=true)  

mixin pinPreview(pin)
  a(href="#" + pin.title)
    //if pin.thumbnail
      img(src=pin.thumbnail)
    h3=pin.title
    p=pin.postedBy

mixin pinView(pin)
  a(id=pin.title)
  if pin.thumbnailPath
    img(src=pin.thumbnailPath)
  h3=pin.title
  +icon("egg")
  if pin.description
    p Description: #{pin.description}
  p Location: #{pin.location} 
  +icon("time")
  p Time/day: #{pin.datetime.toLocaleString()}
  p Posted by: #{pin.postedBy}


mixin pins(pins, previews=true)
  ul.pins
    each pin in pins
      li.pin(style=pin.thumbnailPath && previews ? `background-image: URL(${pin.thumbnailPath}); background-c lip: URL(/images/note-paper-with-clips.svg);` : "")
        if previews
          +pinPreview(pin)
        else
          +pinView(pin)
        br
        br
    if block
      block
        
  

mixin input(id, inputType="text", required=true)
  - const title = id[0].toUpperCase() + id.substring(1)
  - let error = false;
  - let role = "";
  - let value = "";

  if errors
    if errors[id]
      - error = true;
    
  if inputType == "datetime-local"
    // https://stackoverflow.com/a/28149561
    - const timezoneOffset = (new Date()).getTimezoneOffset() * 60000;
    - const date = (new Date(Date.now() - timezoneOffset))
    - date.setDate(date.getDate() + 1)
    - date.setSeconds(null);
    - date.setMilliseconds(null);
    - value = date.toISOString().slice(0, -1);
  
  
  label(for=id role=error ? "alert": "")=required ? `*${title}` : title
  input(
    type=inputType name=id id=id required=required
    value=value 
    aria-describedby=error ? `${id}-error` : null
    aria-invalid=error)
  if error
    p.error(id=`${id}-error`)=errors[id]
  br

block content
  - console.log(errors)
  header
    h1 Community Pinboard!

  main#board
    h2.sr-only Pinboard      
    +pins(pinArray, true)
    

  // Switch aside to main?
  aside#pinview
    h2 Pin view
    +pins(pinArray, false)

      hr

      h3 New pin
      form(action="/new-event" method="POST" enctype="multipart/form-data")
        +input("thumbnailUrl", "url", required=false)
        +input("thumbnailFile", "file", required=false)
        +input("title")
        +input("description", "text", required=false)
        +input("location")
        +input("datetime", "datetime-local")
        +input("postedBy")
        input(type="submit" value="Pin!")
        




      

