extends layout

mixin Pin(pin)
  if pin.thumbnail
    img(src=pin.thumbnail)
  h3=pin.title
  p=pin.description
  p=pin.location 
  input(disabled=true type="datetime-local" value=pin.datetime)
  p=pin.poster

  
  

mixin input(id, inputType="text")
  - const title = id[0].toUpperCase() + id.substring(1)
  label(for=id)=title
  input(type=inputType name=id id=id)
  br

block content
  h1 Community Pinboard!
  - console.log(pins)

  main
    h2 Pinboard
    // Replace div with better elementç
    div#board
      ul#pins
        each pin in pins
          li.pin
            +Pin(pin)
  
  aside
    h2 New pin
    form(action="/new-event" method="POST")
      +input("thumbnail", "url")
      +input("title")
      +input("description")
      +input("location")
      +input("datetime", "datetime-local")
      +input("poster")
      input(type="submit" value="Pin!")
      




      

