extends layout

mixin icon(id)
  // See https://a11y-101.com/development/icons-and-links
  i(class=`icon ${id}` aria-hidden=true)  

mixin pinPreview(pin)
  -
    // The classic: https://www.w3schools.com/js/js_random.asp
    function random(min, max) {
      return Math.floor(Math.random() * (max - min) ) + min;
    }
    // TODO: more efficient, random might get redefined every run?
    let classNames = "pin preview";
    let style = `transform-origin: ${random(40, 60)}% ${random(0, 35)}%; transform: rotate(${random(-15, 15)}deg);`;
  
  if pin.thumbnailPath
    - classNames += " bg";
    - style += `background-image: URL(${pin.thumbnailPath});`;
  

  a(class=classNames style=style href="#" + pin.title )
    li
      h3=pin.title
      ul
        li.
          #[+icon("time")]
          #{pin.datetime.toLocaleDateString()}
        li.
          #[+icon("suitcase")]
          #{pin.location}
        li.
          #[+icon("celeste")]
          #{pin.postedBy}

mixin pinView(pin)
  li.pin.view(id=pin.title)
    if pin.thumbnailPath
      img(src=pin.thumbnailPath)
    h3=pin.title
    if pin.description
      h4 #[+icon("egg")] Description:
      p=pin.description
    h4 #[+icon("suitcase")] Location:
    span=pin.location 
    h4 #[+icon("time")] Time/day:
    span=pin.datetime.toLocaleString()
    h4 #[+icon("celeste")] Posted by:
    span=pin.postedBy
  hr


mixin pins(pins, previews=true)
  ul.pins
    each pin in pins
      if previews
        +pinPreview(pin)
      else
        +pinView(pin)
        
    if block
      block
        
  

mixin input(id, inputType="text", icon=null, required=true)
  - const title = id[0].toUpperCase() + id.substring(1)
  - let error = false;
  - let role = "";
  - let value = "";

  if errors
    if errors[id]
      - error = true;
    
  if inputType == "datetime-local"
    // https://stackoverflow.com/a/28149561
    - const timezoneOffset = (new Date()).getTimezoneOffset() * 60000;
    - const date = (new Date(Date.now() - timezoneOffset))
    - date.setDate(date.getDate() + 1)
    - date.setSeconds(null);
    - date.setMilliseconds(null);
    - value = date.toISOString().slice(0, -1);
  
  
  label(for=id role=error ? "alert": "")
    if required
      span *&nbsp;
    if icon
      +icon(icon)
    span=title
  input(
    type=inputType
    name=id id=id
    required=required
    value=value 
    aria-describedby=error ? `${id}-error` : null
    aria-invalid=error)
  if error
    p.error(id=`${id}-error`)=errors[id]
  

block content
  - console.log(errors)
  header
    h1 Community Pinboard!
  main#board
    h2.sr-only Pinboard      
    +pins(pinArray, true)
    

  // Switch aside to main?
  aside#pinview
    h2 Pin view
    +pins(pinArray, false)

      hr

      h3 New pin
      form.pin.view(action="/new-event" method="POST" enctype="multipart/form-data")
        +input("title")
        +input("description", "text", "egg", required=false)
        +input("location", "text", "suitcase")
        +input("datetime", "datetime-local", "time")
        +input("postedBy", "text", icon="celeste")
        p For an (optional) image, you can use
        +input("thumbnailUrl", "url", null, required=false)
        p ... or ...
        +input("thumbnailFile", "file", null, required=false)
        input(type="submit" value="Pin!")
        




      

